<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{176,176}</string>
                <key>spriteSourceSize</key>
                <string>{176,176}</string>
                <key>textureRect</key>
                <string>{{0,0},{176,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{356,176}</string>
                <key>spriteSourceSize</key>
                <string>{356,176}</string>
                <key>textureRect</key>
                <string>{{176,0},{356,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{540,176}</string>
                <key>spriteSourceSize</key>
                <string>{540,176}</string>
                <key>textureRect</key>
                <string>{{532,0},{540,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{721,176}</string>
                <key>spriteSourceSize</key>
                <string>{721,176}</string>
                <key>textureRect</key>
                <string>{{1072,0},{721,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{176,176}</string>
                <key>spriteSourceSize</key>
                <string>{176,176}</string>
                <key>textureRect</key>
                <string>{{0,176},{176,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{356,176}</string>
                <key>spriteSourceSize</key>
                <string>{356,176}</string>
                <key>textureRect</key>
                <string>{{176,176},{356,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{540,176}</string>
                <key>spriteSourceSize</key>
                <string>{540,176}</string>
                <key>textureRect</key>
                <string>{{532,176},{540,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{721,176}</string>
                <key>spriteSourceSize</key>
                <string>{721,176}</string>
                <key>textureRect</key>
                <string>{{1072,176},{721,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{176,176}</string>
                <key>spriteSourceSize</key>
                <string>{176,176}</string>
                <key>textureRect</key>
                <string>{{0,352},{176,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{356,176}</string>
                <key>spriteSourceSize</key>
                <string>{356,176}</string>
                <key>textureRect</key>
                <string>{{176,352},{356,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{540,176}</string>
                <key>spriteSourceSize</key>
                <string>{540,176}</string>
                <key>textureRect</key>
                <string>{{532,352},{540,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{721,176}</string>
                <key>spriteSourceSize</key>
                <string>{721,176}</string>
                <key>textureRect</key>
                <string>{{1072,352},{721,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>41.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{176,176}</string>
                <key>spriteSourceSize</key>
                <string>{176,176}</string>
                <key>textureRect</key>
                <string>{{0,528},{176,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{356,176}</string>
                <key>spriteSourceSize</key>
                <string>{356,176}</string>
                <key>textureRect</key>
                <string>{{176,528},{356,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>43.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{540,176}</string>
                <key>spriteSourceSize</key>
                <string>{540,176}</string>
                <key>textureRect</key>
                <string>{{532,528},{540,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{721,176}</string>
                <key>spriteSourceSize</key>
                <string>{721,176}</string>
                <key>textureRect</key>
                <string>{{1072,528},{721,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>51.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{176,176}</string>
                <key>spriteSourceSize</key>
                <string>{176,176}</string>
                <key>textureRect</key>
                <string>{{0,704},{176,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>52.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{356,176}</string>
                <key>spriteSourceSize</key>
                <string>{356,176}</string>
                <key>textureRect</key>
                <string>{{176,704},{356,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>53.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{540,176}</string>
                <key>spriteSourceSize</key>
                <string>{540,176}</string>
                <key>textureRect</key>
                <string>{{532,704},{540,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>54.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{721,176}</string>
                <key>spriteSourceSize</key>
                <string>{721,176}</string>
                <key>textureRect</key>
                <string>{{1072,704},{721,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>p.png</string>
            <key>size</key>
            <string>{1793,880}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:630a87c6b5e21f631f5ee0c8c05d7e5c:f06fcb98d955c80d790f1f9f81ccce0b:39834edf57f8d4b849947aeeef3ec046$</string>
            <key>textureFileName</key>
            <string>p.png</string>
        </dict>
    </dict>
</plist>
